<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" href="../logo2.ico" type="image/x-icon">
    <link rel="stylesheet" href="../public/style/areaDoUsuario.css">
    <script src="https://kit.fontawesome.com/436f56178b.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div id="navbar">
            <div id="logo">
                <img src="" alt="" srcset="">
            </div>
            <div id="pages">
                <a href="">Home</a>
                <a href=""></a>
            </div>
            <div id="inout">

            </div>
        </div>
    </header>
    <main>
        <div id="container">
            <div id="fotoDePerfil"></div>
            <div id="dados">
                <p id="username">Username:</p>
                <p id="email">Email:</p>
            </div>
            <div id="editar">
                <button id="edit"><i class='fas fa-edit'></i></button>
            </div>
        </div>
    </main>
</body>
</html>