<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/cadastroUsuario.css">
    <link rel="shortcut icon" href="../logo2.ico" type="image/x-icon">
</head>
<body>
    <div id="container">
        <form action="" method="post" id="cadastro">
            <h2>Horizon of events</h2>
            <p id="txtHorizon">Cadastre-se para encontrar um horizonte de enventos</p>
            <!-- <label class="required"></label> -->
            <input type="text" placeholder="Nome completo" required id="nome" autocomplete="off" autocapitalize="off" autocorrect="off" >
            <!-- <label class="required"></label> -->
            <input type="text" placeholder="Nome de usuário" required id = "username" autocomplete="off" autocapitalize="off" autocorrect="off" >
            <!-- <label class="required"></label> -->
            <input type="text" placeholder="Email" required id = "email" autocomplete="off" autocapitalize="off" autocorrect="off" >
            <!-- <label class="required" id="hidden"></label> -->
            <input type="tel" placeholder="Telefone" id = "telefone" autocomplete="off" autocapitalize="off" autocorrect="off" >
            <!-- <label class="required"></label> -->
            <input type="password" placeholder="Senha" min="8" max="32" required  id = "senha" >
            <!-- <label class="required"></label> -->
            <input type="password" placeholder="Senha" min="8" max="32" required  id="confirme_senha">
            <input type="submit" id="confirm" value="Cadastre-se">
        </form>
        <div id="login">
            <p>Já tem uma conta? <a href="./loginUsuario.html">Faça login</a></p>
        </div>
    </div>
    <script src="../index.js"></script>
</body>
</html>