<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/cadastroUsuario.css">
</head>
<body>
    <div id="container">
        <form action="" method="post" id="cadastro">
            <h2>Horizon of events</h2>
            <!-- <label for="nome">Nome completo:</label> -->
            <input type="text" placeholder="Nome completo" required id="nome" autocomplete="off" autocapitalize="off" autocorrect="off">
            <!-- <label for="username">Nome de usuário:</label> -->
            <input type="text" placeholder="Nome de usuário" required id = "username" autocomplete="off" autocapitalize="off" autocorrect="off">
            <!-- <label for="email">E-mail:</label> -->
            <input type="text" placeholder="Email" required id = "email" autocomplete="off" autocapitalize="off" autocorrect="off">
            <!-- <label for="telefone">Telefone(opcional):</label> --> 
            <input type="tel" placeholder="Telefone" id = "telefone" autocomplete="off" autocapitalize="off" autocorrect="off">
            <!-- <label for="password">Senha:</label> -->
            <input type="password" min="8" max="32" placeholder="Senha" id = "senha" >
            <!-- <label for="password">Confirme a senha:</label> -->
            <input type="password" min="8" max="32" placeholder="Senha" id="confirme_senha">
            <input type="submit" id="confirm" value="Cadastre-se">
        </form>
        <div id="login">
            <p>Já tem uma conta? <a href="./loginUsuario.html">Faça login</a></p>
        </div>
    </div>
    <script src="../index.js"></script>
</body>
</html>