<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style/cadastroUsuario.css">
</head>
<body>
    <div id="container">
        <form action="" method="post" id="cadastro">
            <h2>Cadastro</h2>
            <label for="nome">Nome completo:</label>
            <input type="text" placeholder="Ex:João Vitor de Almeida" required id="nome">
            <label for="username">Nome de usuário:</label>
            <input type="text" placeholder="Username" required id = "username">
            <label for="email">E-mail:</label>
            <input type="text" placeholder="username@email.com" required id = "email">
            <label for="telefone">Telefone(opcional):</label>
            <input type="tel" placeholder="(31)99999-9999" id = "telefone">
            <label for="password">Senha:</label>
            <input type="password" min="8" max="32" id = "senha">
            <label for="password">Confirme a senha:</label>
            <input type="password" min="8" max="32" id="confirme_senha">
            <input type="submit" id="confirm">
        </form>
        <div id="login">
            <p>Já tem uma conta? <a href="#">Cadastre-se</a></p>
        </div>
    </div>
    <script src="../index.js"></script>
</body>
</html>